Thanks for reserving a table with us, you're reservation details are as follows:

<p>Time: <%= @reservation.time %></p>
<p>Date: <%= @reservation.date %></p>
<p>People: <%= @reservation.count %></p>
<p>Phone Number: <%= @reservation.phone_number %></p>
